PORT=4009
DATABASE_URL=postgresql://edusmart:edusmart_password@localhost:5432/edusmart_db
JWT_SECRET=edusmart_secret_key
INTERNAL_SERVICE_SECRET=edusmart_internal_service_secret
SUBSCRIPTION_SERVICE_URL=http://localhost:4008
COURSE_SERVICE_URL=http://localhost:4003
CORS_ORIGIN=*
